:root {
  --shadow-color: 161deg 43% 35%;
  --shadow-elevation-low: 0.4px 0.3px 0.5px hsl(var(--shadow-color) / 0.37),
    0.6px 0.6px 0.9px -1.3px hsl(var(--shadow-color) / 0.35),
    1.5px 1.4px 2.2px -2.7px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-medium: 0.4px 0.3px 0.5px hsl(var(--shadow-color) / 0.39),
    1.2px 1.1px 1.8px -0.9px hsl(var(--shadow-color) / 0.38),
    3px 2.8px 4.5px -1.8px hsl(var(--shadow-color) / 0.36),
    7.4px 7px 11.2px -2.7px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-high: 0.4px 0.3px 0.5px hsl(var(--shadow-color) / 0.36),
    2px 1.9px 3px -0.4px hsl(var(--shadow-color) / 0.36),
    3.8px 3.6px 5.7px -0.8px hsl(var(--shadow-color) / 0.35),
    6.4px 6px 9.6px -1.2px hsl(var(--shadow-color) / 0.34),
    10.3px 9.7px 15.5px -1.5px hsl(var(--shadow-color) / 0.34),
    16.4px 15.4px 24.6px -1.9px hsl(var(--shadow-color) / 0.33),
    25.1px 23.6px 37.7px -2.3px hsl(var(--shadow-color) / 0.32),
    37.2px 35px 55.9px -2.7px hsl(var(--shadow-color) / 0.32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #343a40;
}

.container {
  box-sizing: content-box;
  background-color: #ffeedb;
  border-radius: 3rem;
  overflow: hidden;
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--shadow-elevation-high);
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 7rem;
  background-color: #61c9a8;
}

.title {
  margin-top: 5rem;
}

.grids {
  flex-shrink: 0;
  box-sizing: border-box;
}

.button {
  width: 18rem;
  height: 6rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  border: none;
  transition: all 0.3s;
  box-shadow: var(--shadow-elevation-high);
}

.default-btn,
.eraser-btn {
  background-color: #ed9b40;
}

.reset-grids,
.rainbow-btn {
  background-color: #ba3b46;
  color: #ffeedb;
}

.default-btn:hover,
.eraser-btn:hover,
.default-btn:active,
.eraser-btn:active {
  background-color: #be7c33;
}

.reset-grids:hover,
.rainbow-btn:hover,
.reset-grids:active,
.rainbow-btn:active {
  background-color: #822931;
}

.wrapper {
  padding: 2rem;
  display: flex;
  column-gap: 10rem;
  transform: translate(-20%, 0);
}

.settings {
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #343a40;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
