* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: solid 5px red;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.grids {
  border: solid 1px blue;
  flex-shrink: 0;
  box-sizing: border-box;
}
