* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.container {
  border: solid 5px red;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.grids {
  flex-shrink: 0;
  box-sizing: border-box;
}

.reset-grids,
#colorpicker,
.rainbow-btn,
.default-btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.settings {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
